{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}{% block profile_title %}{% endblock %} &middot; {% if user.id == current_user.id %}个人{% else %}{{ user.name }}的{% endif %}档案{% endblock %}

{% block content %}
<div class="ui masthead vertical segment">
    <div class="ui container">
        {{ macros.message_widget() }}
        <h1 class="ui center aligned header"><i class="id card icon"></i>{% if user.id == current_user.id %}个人{% else %}{{ user.name }}的{% endif %}档案</h1>
        <div class="ui center aligned container">
            <div class="ui labels">
                <a class="ui {% if profile_tab == 'overview' %}black {% endif %}label" href="{{ url_for('profile.overview', id=user.id) }}"><i class="stream icon"></i>概览</a>
                <a class="ui {% if profile_tab == 'timeline' %}black {% endif %}label" href="{{ url_for('profile.timeline', id=user.id) }}"><i class="spinner icon"></i>时间线</a>
            </div>
        </div>
    </div>
</div>
<div class="ui main vertical segment">
    {% block profile_prgress_bar %}{% endblock %}
    <div class="ui internally celled stackable grid container">
        <div class="row">
            <div class="four wide column">
                <div class="ui sticky">
                    <div class="ui vertical segment">
                        <h1 class="ui header">
                            <div class="content">
                                {{ macros.user_gender_widget(user) }}
                                <div class="sub header">{% if user.suspended %}[挂起] {% endif %}{{ user.role.name }}</div>
                            </div>
                        </h1>
                    </div>
                    <div class="ui vertical segment">
                        <div>上次登录：{{ macros.from_now_widget(user.last_seen_at) }}</div>
                        {% if current_user.is_staff %}<div>登录设备：{{ user.last_login_device.alias }}</div>{% endif %}
                        {% if current_user.is_developer %}<div>设备MAC地址：{{ user.last_seen_mac }}</div>{% endif %}
                    </div>
                    {% if current_user.is_staff %}<div class="ui vertical segment">
                        <div>创建时间：{{ macros.from_now_widget(user.imported_at) }}</div>
                    </div>{% endif %}
                    {% if current_user.can_manage(user=user) %}<div class="ui vertical segment">
                        <div class="ui labels">
                            {% if user.suspended %}<a id="suspension-trigger" class="ui green label"><i class="user check icon"></i>恢复</a>{% else %}<a id="suspension-trigger" class="ui orange label"><i class="user lock icon"></i>挂起</a>{% endif %}
                            <div id="suspension-modal" class="ui modal">
                                <div class="header"><i class="exclamation triangle icon"></i>确定要{% if user.suspended %}恢复{% else %}挂起{% endif %}用户：{{ user.name_format }}？</div>
                                <div class="actions">
                                    <div class="ui basic right pointing label">只需点击一次</div>
                                    {% if user.suspended %}<a class="ui green left labeled icon button" href="{{ url_for('manage.restore_user', id=user.id, next=user.profile_url(tab=profile_tab)) }}"><i class="user check icon"></i>恢复</a>{% else %}<a class="ui orange left labeled icon button" href="{{ url_for('manage.suspend_user', id=user.id, next=user.profile_url(tab=profile_tab)) }}"><i class="user lock icon"></i>挂起</a>{% endif %}
                                    <div id="suspension-hide-trigger" class="ui black button">返回</div>
                                </div>
                            </div>
                        </div>
                    </div>{% endif %}
                </div>
            </div>
            <div class="twelve wide column">
                {% block profile_content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% block profile_js_lib %}{% endblock %}
<script type="text/javascript">
{{ macros.close_message_js_snippet() }}

{{ macros.sticky_js_snippet() }}

{% if current_user.can_manage(user=user) -%}
$('#suspension-trigger').click(function () {
    $('#suspension-modal').modal({ autofocus: false }).modal('show');
});
$('#suspension-hide-trigger').click(function () {
    $('#suspension-modal').modal('hide');
});
{%- endif %}
</script>
{% block profile_js %}{% endblock %}
{% endblock %}