{% extends "profile/base.html" %}

{% block profile_title %}概览{% endblock %}

{% block profile_content %}
<div class="ui vertical segment">
    <div class="ui header">课程研修进度</div>
    <table class="ui unstackable selectable celled table">
        <thead>
            <tr>
                <th>研修课程</th>
                <th>研修进度</th>
            </tr>
        </thead>
        <tbody>
            {% for lesson in lessons %}
            <tr>
                <td><div class="ui {{ lesson.type.color }} horizontal label">{{ lesson.type.name }}</div>{{ lesson.abbr }}</td>
                <td>{{ user.lesson_progress_percentage(lesson=lesson) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}