{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}概览 &middot; {% if user.id == current_user.id %}个人{% else %}{{ user.name }}的{% endif %}档案{% endblock %}

{% block content %}
<div class="ui masthead vertical segment">
    <div class="ui center aligned container">
        <h1 class="ui header"><i class="id card icon"></i>{% if user.id == current_user.id %}个人{% else %}{{ user.name }}的{% endif %}档案</h1>
    </div>
</div>
<div class="ui main vertical segment">
    <div class="ui internally celled stackable grid container">
        <div class="row">
            <div class="four wide column">
                <div class="ui vertical segment">
                    <h1 class="ui header">
                        <div class="content">
                            {{ macros.user_gender_widget(user) }}
                            <div class="sub header">{% if user.suspended %}[挂起] {% endif %}{{ user.role.name }}</div>
                        </div>
                    </h1>
                </div>
                <div class="ui vertical segment">
                    <div>上次登录：{{ macros.from_now_widget(user.last_seen_at) }}</div>
                    {% if current_user.is_staff %}<div>登录设备：{{ user.last_login_device.alias }}</div>{% endif %}
                    {% if current_user.is_developer %}<div>设备IP：{{ current_user.last_seen_ip }}</div>{% endif %}
                </div>
                {% if current_user.is_staff %}<div class="ui vertical segment">
                    <div>创建时间：{{ macros.from_now_widget(user.created_at) }}</div>
                    <div>创建人：{{ macros.user_url_widget(user.created_by, user.created_by.id == current_user.id) }}</div>
                </div>{% endif %}
            </div>
            <div class="twelve wide column">
                <div class="ui vertical segment">
                    <div class="ui header">研修进度</div>
                </div>
                <div class="ui vertical segment">
                    <div class="ui header">时间线</div>
                    <div class="ui feed">
                        {% for log in logs %}
                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    {{ macros.user_log_widget(log, log.user_id == current_user.id, show_category=current_user.is_developer) }}
                                    <div class="date">{{ macros.from_now_widget(log.timestamp) }}</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% if pagination %}{{ macros.pagination_widget(pagination, 'profile.overview', id=user.id) }}{% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
{{ macros.close_message_js_snippet() }}
</script>
{% endblock %}