{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}登录{% endblock %}

{% block content %}
<div class="ui masthead vertical segment">
    <div class="ui narrow container">
        <h1 class="ui center aligned header"><i class="user circle icon"></i>登录账户</h1>
        <form id="login" action="{{ url_for('auth.login', next=request.args.get('next')) }}" method="POST" class="ui form">
            {{ form.hidden_tag() }}
            <div class="field">
                <div class="ui large left icon input">
                    <i class="at icon"></i>
                    {{ form.email(placeholder='邮箱') }}
                </div>
            </div>
            <div class="field">
                <div class="ui large left icon input">
                    <i class="lock icon"></i>
                    {{ form.password(placeholder='密码') }}
                </div>
            </div>
            {{ form.submit(class='ui large primary fluid button') }}
        </form>
        {{ macros.message_widget() }}
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
{{ macros.close_message_js_snippet() }}

$('#login').form({
    inline: true,
    on: 'blur',
    fields: {
        email: {
            identifier: 'email',
            rules: [
                {
                    type: 'empty',
                    prompt: '请输入您的电子邮箱地址'
                },
                {
                    type: 'email',
                    prompt: '请输入一个有效的电子邮箱地址'
                }
            ]
        },
        password: {
            identifier: 'password',
            rules: [
                {
                    type: 'empty',
                    prompt: '请输入您的密码'
                }
            ]
        }
    }
});
</script>
{% endblock %}