{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}登录{% endblock %}

{% block content %}
<div class="ui masthead vertical segment">
    <div class="ui narrow container">
        <h1 class="ui center aligned header"><i class="user circle icon"></i>登录账户</h1>
        <form id="login" action="{{ url_for('auth.login', next=request.args.get('next')) }}" method="POST" class="ui form">
            {{ form.hidden_tag() }}
            <div class="field">
                <div class="ui large left icon input">
                    <i class="user icon"></i>
                    {{ form.name(placeholder='姓名') }}
                </div>
            </div>
            <div class="field">
                <div class="ui large left icon input">
                    <i class="id card icon"></i>
                    {{ form.id_number(placeholder='证件号码（后6位）') }}
                </div>
            </div>
            <div class="field">
                <div class="ui large left icon input">
                    <i class="key icon"></i>
                    {{ form.auth_token(placeholder='授权码（6位）') }}
                </div>
            </div>
            {{ form.submit(class='ui large primary fluid button') }}
        </form>
        <div class="ui message">
            <i class="info icon"></i>Y-VOD授权码（6位）在Y-System个人档案页面获取。</a>
        </div>
        {{ macros.message_widget() }}
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
{{ macros.close_message_js_snippet() }}

$('#login').form({
    inline: true,
    on: 'blur',
    fields: {
        name: {
            identifier: 'name',
            rules: [
                {
                    type: 'empty',
                    prompt: '请输入您的姓名'
                }
            ]
        },
        id_number: {
            identifier: 'id_number',
            rules: [
                {
                    type: 'empty',
                    prompt: '请输入您的证件号码（后6位）'
                },
                {
                    type: 'exactLength[6]',
                    prompt: '证件号码（后6位）位数有误'
                }
            ]
        },
        auth_token: {
            identifier: 'auth_token',
            rules: [
                {
                    type: 'empty',
                    prompt: '请输入您的授权码（6位）'
                },
                {
                    type: 'exactLength[6]',
                    prompt: '授权码（6位）位数有误'
                }
            ]
        }
    }
});
</script>
{% endblock %}