{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}设备管理{% endblock %}

{% block content %}
<div class="ui masthead vertical segment">
    <div class="ui container">
        {{ macros.message_widget() }}
        <h1 class="ui center aligned header"><i class="server icon"></i>设备管理</h1>
    </div>
</div>
<div class="ui main vertical segment">
    <div class="ui container">
        <h3 class="ui header">
            <i class="server icon"></i>
            <div class="content">设备列表<div class="sub header">{{ header }}：共 {{ pagination.total }} 台</div></div>
        </h3>
        <div class="ui secondary stackable menu">
            <a class="item {% if show_tablet_devices %}active {% endif %}" href="{{ url_for('manage.tablet_devices') }}">平板设备</a>
            <a class="item {% if show_desktop_devices %}active {% endif %}" href="{{ url_for('manage.desktop_devices') }}">桌面设备</a>
            <a class="item {% if show_mobile_devices %}active {% endif %}" href="{{ url_for('manage.mobile_devices') }}">移动设备</a>
            {% if current_user.is_developer %}<a class="item {% if show_development_devices %}active {% endif %}" href="{{ url_for('manage.development_devices') }}">开发设备</a>
            {% endif %}
            <a class="item {% if show_obsolete_devices %}active {% endif %}" href="{{ url_for('manage.obsolete_devices') }}">报废设备</a>
            <div class="right menu">
                <a id="new-device-trigger" class="item"><i class="plus circle icon"></i>新建设备</a>
            </div>
        </div>
        <div id="new-device-modal" class="ui modal">
            <i class="close icon"></i>
            <div class="header"><i class="plus circle icon"></i>新建设备</div>
            <div class="content">
                <form id="new-device" action="{{ url_for('manage.device') }}" method="POST" class="ui form">
                    {{ form.hidden_tag() }}
                    <div class="fields">
                        <div class="eight wide required field">
                            {{ form.alias.label() }}
                            {{ form.alias(placeholder='设备名') }}
                        </div>
                        <div class="eight wide required field">
                            {{ form.serial.label() }}
                            {{ form.serial(placeholder='序列号') }}
                        </div>
                    </div>
                    <div class="fields">
                        <div class="eight wide required field">
                            {{ form.device_type.label() }}
                            {{ form.device_type(class='ui dropdown') }}
                        </div>
                        <div class="eight wide required field">
                            {{ form.room.label() }}
                            {{ form.room(class='ui dropdown') }}
                        </div>
                    </div>
                    <div class="field">
                        {{ form.mac_address.label() }}
                        {{ form.mac_address(placeholder='MAC地址') }}
                    </div>
                    <div class="field">
                        {{ form.lesson_types.label() }}
                        {{ form.lesson_types(class='ui dropdown') }}
                    </div>
                    {% if current_user.is_developer %}<div class="ui segment">
                        <div class="inline field">
                            <div class="ui toggle checkbox">
                                {{ form.development_machine() }}
                                {{ form.development_machine.label() }}
                            </div>
                        </div>
                    </div>{% endif %}
                    {{ form.submit(class='ui primary button') }}
                    <div class="ui basic left pointing label">只需点击一次</div>
                </form>
            </div>
        </div>
        {% if pagination.total > 0 %}
        <table class="ui sortable selectable celled table">
            <thead>
                <tr>
                    <th>设备名</th>
                    <th>序列号</th>
                    <th>所属场地</th>
                    <th>MAC地址</th>
                    <th>授权内容</th>
                    <th>上次操作</th>
                    <th>操作人</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for device in devices %}
                <tr{% if device.lesson_type_authorizations.count() > 1 %} class="top aligned"{% endif %}>
                    <td><i class="{{ device.type.icon }} icon"></i>{{ device.alias }}</td>
                    <td><code>{{ device.serial }}</code></td>
                    <td>{% if device.room_id %}{{ device.room.name }}{% else %}N/A{% endif %}</td>
                    <td>{% if device.mac_address %}<code>{{ device.mac_address }}</code>{% else %}N/A{% endif %}</td>
                    <td>{% with items = device.lesson_type_authorizations %}{% if items.count() %}<div class="ui ordered list">{% for item in items %}<div class="item">{{ item.lesson_type.name }}</div>{% endfor %}</div>{% else %}无{% endif %}{% endwith %}</td>
                    <td>{{ macros.from_now_widget(device.modified_at) }}</td>
                    <td>{{ macros.user_widget(device.modified_by, device.modified_by_id == current_user.id, current_user.can_access_profile(user=device.modified_by)) }}</td>
                    <td>
                        <div class="ui mini icon buttons">
                            <a class="ui button" href="{{ url_for('manage.edit_device', id=device.id, next=url_for('manage.device', page=request.args.get('page'))) }}" data-tooltip="编辑" data-position="top center" data-inverted=""><i class="edit icon"></i></a>
                            {% if device.obsolete %}<a class="ui button" href="{{ url_for('manage.toggle_device_obsolete', id=device.id, next=url_for('manage.device', page=request.args.get('page'))) }}" data-tooltip="恢复使用" data-position="top center" data-inverted=""><i class="redo alternate icon"></i></a>{% else %}<a class="ui positive button" href="{{ url_for('manage.toggle_device_obsolete', id=device.id, next=url_for('manage.device', page=request.args.get('page'))) }}" data-tooltip="标记报废" data-position="top center" data-inverted=""><i class="recycle icon"></i></a>{% endif %}
                            <a class="ui negative button" href="{{ url_for('manage.delete_device', id=device.id, next=url_for('manage.device', page=request.args.get('page'))) }}" data-tooltip="删除" data-position="top center" data-inverted=""><i class="trash alternate icon"></i></a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ macros.pagination_widget(pagination, 'manage.device') }}
        {% else %}{{ macros.placeholder_widget() }}{% endif %}
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="//static.y-english.cn/assets/ui/tablesort.min.js"></script>
<script type="text/javascript">
{{ macros.close_message_js_snippet() }}

$('.ui.sortable.table').tablesort();

$('.ui.dropdown').dropdown();

{% if current_user.is_developer %}$('.ui.checkbox').checkbox();{% endif %}

$('#new-device-trigger').click(function () {
    $('#new-device-modal').modal({ autofocus: false }).modal('show');
});

$('#new-device').form({
    inline: true,
    on: 'blur',
    fields: {
        alias: {
            identifier: 'alias',
            rules: [
                {
                    type: 'empty',
                    prompt: '请填写设备名'
                }
            ]
        },
        serial: {
            identifier: 'serial',
            rules: [
                {
                    type: 'empty',
                    prompt: '请填写序列号'
                }
            ]
        },
        device_type: {
            identifier: 'device_type',
            rules: [
                {
                    type: 'empty',
                    prompt: '请选择设备类型'
                }
            ]
        },
        room: {
            identifier: 'room',
            rules: [
                {
                    type: 'empty',
                    prompt: '请选择房间'
                }
            ]
        },
        mac_address: {
            identifier: 'mac_address',
            optional: true,
            rules: [
                {
                    type: 'regExp[/^(?:[0-9a-fA-F]{2}:){5}[0-9a-fA-F]{2}$/]',
                    prompt: '请输入有效的MAC地址'
                }
            ]
        }
    }
});
</script>
{% endblock %}