{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}研修课程{% endblock %}

{% block content %}
<div class="ui masthead vertical segment">
    <div class="ui container">
        {{ macros.message_widget() }}
        <h1 class="ui center aligned header"><i class="book icon"></i>研修课程</h1>
    </div>
</div>
<div class="ui main vertical segment">
    <div class="ui container">
        <h3 class="ui header">
            <i class="book icon"></i>
            <div class="content">研修课程列表<div class="sub header">{{ header }}：共 {{ pagination.total }} 课</div></div>
        </h3>
        <div class="ui secondary stackable menu">
            <a class="item {% if show_vb_lessons %}active {% endif %}" href="{{ url_for('manage.vb_lessons') }}">VB</a>
            <a class="item {% if show_y_gre_lessons %}active {% endif %}" href="{{ url_for('manage.y_gre_lessons') }}">Y-GRE</a>
            <a class="item {% if show_y_gre_aw_lessons %}active {% endif %}" href="{{ url_for('manage.y_gre_aw_lessons') }}">Y-GRE AW</a>
            <a class="item {% if show_test_review_lessons %}active {% endif %}" href="{{ url_for('manage.test_review_lessons') }}">考试讲解</a>
            <a class="item {% if show_demo_lessons %}active {% endif %}" href="{{ url_for('manage.demo_lessons') }}">体验课程</a>
        </div>
        {% if pagination.total > 0 %}
        <table class="ui sortable selectable celled table">
            <thead>
                <tr>
                    <th>课程名称</th>
                    <th>课程时长</th>
                    <th>课程视频</th>
                </tr>
            </thead>
            <tbody>
                {% for lesson in lessons %}
                <tr>
                    <td>{{ macros.lesson_label_widget(lesson=lesson) }}</td>
                    <td><code>{{ lesson.duration_format }}</code></td>
                    <td><a href="{{ url_for('manage.video', lesson_id=lesson.id) }}" data-tooltip="查看" data-position="top center" data-inverted="">{{ lesson.videos.count() }} 个</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ macros.pagination_widget(pagination, 'manage.lesson') }}
        {% else %}{{ macros.placeholder_widget() }}{% endif %}
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="//static.y-english.cn/assets/ui/tablesort.min.js"></script>
<script type="text/javascript">
{{ macros.close_message_js_snippet() }}

$('.ui.sortable.table').tablesort();
</script>
{% endblock %}