{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}学生管理{% endblock %}

{% block content %}
<div class="ui masthead vertical segment">
    <div class="ui container">
        {{ macros.message_widget() }}
        <h1 class="ui center aligned header"><i class="user graduate icon"></i>学生管理</h1>
        {% if current_user.can('管理员工') %}<div class="ui center aligned container">
            <div class="ui labels">
                <a class="ui black label" href="{{ url_for('manage.student') }}"><i class="user graduate icon"></i>学生管理</a>
                <a class="ui label" href="{{ url_for('manage.staff') }}"><i class="user tie icon"></i>员工管理</a>
            </div>
        </div>{% endif %}
    </div>
</div>
<div class="ui main vertical segment">
    <div class="ui container">
        <h3 class="ui header">
            <i class="user graduate icon"></i>
            <div class="content">学生列表<div class="sub header">{{ header }}：共 {{ pagination.total }} 人</div></div>
        </h3>
        <div class="ui secondary stackable menu">
            <a class="item {% if show_vb_students %}active {% endif %}" href="{{ url_for('manage.vb_students') }}">VB研修</a>
            <a class="item {% if show_y_gre_students %}active {% endif %}" href="{{ url_for('manage.y_gre_students') }}">Y-GRE研修</a>
            <a class="item {% if show_suspended_students %}active {% endif %}" href="{{ url_for('manage.suspended_students') }}">挂起</a>
        </div>
        {% if pagination.total > 0 %}
        <table class="ui sortable selectable celled table">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>研修权限</th>
                    <th>上次登录</th>
                    <th>导入时间</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td class="single line">{{ macros.user_url_gender_widget(user, user.id == current_user.id) }}</td>
                    <td>{% if user.suspended %}<div class="ui horizontal label">挂起</div>{% endif %}{{ user.role.name }}</td>
                    <td>{{ macros.from_now_widget(user.last_seen_at) }}</td>
                    <td>{{ macros.from_now_widget(user.imported_at) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ macros.pagination_widget(pagination, 'manage.student') }}
        {% else %}{{ macros.placeholder_widget() }}{% endif %}
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='assets/library/ui/tablesort.min.js') }}"></script>
<script type="text/javascript">
{{ macros.close_message_js_snippet() }}

$('.ui.sortable.table').tablesort();
</script>
{% endblock %}