{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}员工管理{% endblock %}

{% block content %}
<div class="ui masthead vertical segment">
    <div class="ui container">
        {{ macros.message_widget() }}
        <h1 class="ui center aligned header"><i class="user tie icon"></i>员工管理</h1>
        {% if current_user.can('管理学生') %}<div class="ui center aligned container">
            <div class="ui labels">
                <a class="ui label" href="{{ url_for('manage.student') }}"><i class="user graduate icon"></i>学生管理</a>
                <a class="ui black label" href="{{ url_for('manage.staff') }}"><i class="user tie icon"></i>员工管理</a>
            </div>
        </div>{% endif %}
    </div>
</div>
<div class="ui main vertical segment">
    <div class="ui container">
        <h3 class="ui header">
            <i class="user tie icon"></i>
            <div class="content">员工列表{% if pagination %}<div class="sub header">{{ header }}：共 {{ pagination.total }} 人</div>{% endif %}</div>
        </h3>
        <div class="ui secondary stackable menu">
            <a class="item {% if show_clerks %}active {% endif %}" href="{{ url_for('manage.clerks') }}">值守</a>
            <a class="item {% if show_assistants %}active {% endif %}" href="{{ url_for('manage.assistants') }}">行政辅助</a>
            <a class="item {% if show_consultants %}active {% endif %}" href="{{ url_for('manage.consultants') }}">学术答疑</a>
            <a class="item {% if show_coordinators %}active {% endif %}" href="{{ url_for('manage.coordinators') }}">协调员</a>
            <a class="item {% if show_moderators %}active {% endif %}" href="{{ url_for('manage.moderators') }}">协管员</a>
            {% if current_user.plays('管理员') %}<a class="item {% if show_administrators %}active {% endif %}" href="{{ url_for('manage.administrators') }}">管理员</a>{% endif %}
            {% if current_user.is_developer %}<a class="item {% if show_developers %}active {% endif %}" href="{{ url_for('manage.developers') }}">开发人员</a>{% endif %}
            <a class="item {% if show_suspended_staffs %}active {% endif %}" href="{{ url_for('manage.suspended_staffs') }}">挂起</a>
            <div class="right menu">
                <a class="item" href="{{ url_for('manage.import_user', next=url_for('manage.staff')) }}"><i class="file import icon"></i>导入</a>
            </div>
        </div>
        {% if pagination.total > 0 %}
        <table class="ui sortable selectable celled table">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>研修权限</th>
                    <th>上次登录</th>
                    <th>创建时间</th>
                    <th>创建人</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td class="single line">{{ macros.user_url_gender_widget(user, user.id == current_user.id) }}</td>
                    <td>{% if user.suspended %}<div class="ui horizontal label">挂起</div>{% endif %}{{ user.role.name }}</td>
                    <td>{{ macros.from_now_widget(user.last_seen_at) }}</td>
                    <td>{{ macros.from_now_widget(user.created_at) }}</td>
                    <td>{{ macros.user_url_widget(user.created_by, user.created_by.id == current_user.id) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if pagination %}{{ macros.pagination_widget(pagination, 'manage.student') }}{% endif %}
        {% else %}
        <div class="ui placeholder segment">
            <div class="ui icon header"><i class="user slash icon"></i>{{ header }}：共 0 人</div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='assets/library/ui/tablesort.min.js') }}"></script>
<script type="text/javascript">
{{ macros.close_message_js_snippet() }}

$('.ui.sortable.table').tablesort();
</script>
{% endblock %}