{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}系统实况{% endblock %}

{% block content %}
<div class="ui masthead vertical segment">
    <div class="ui container">
        {{ macros.message_widget() }}
        <h1 class="ui center aligned header"><i class="tachometer alternate icon"></i>系统实况</h1>
        <div class="ui center aligned container">
            <div id="rendered-at" class="ui orange label">页面呈现<div class="detail">加载中</div></div>
        </div>
    </div>
</div>
<div class="ui main vertical segment">
    <div class="ui container">
        <h2 class="ui header">
            <i class="chalkboard teacher icon"></i>
            <div class="content">视频研修<div class="sub header">共 {{ users.count() }} 人</div></div>
        </h2>
        {% if users.count() > 0 %}
        <table class="ui sortable selectable celled table">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>研修权限</th>
                    <th>VB进度</th>
                    <th>Y-GRE进度</th>
                    <th>当前研修内容</th>
                    <th>使用设备</th>
                    <th>更新时间</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td class="single line">{{ macros.user_url_gender_widget(user, user.id == current_user.id) }}</td>
                    <td>{% if user.suspended %}<div class="ui horizontal label">挂起</div>{% endif %}{{ user.role.name }}</td>
                    <td>{% with punch = user.last_vb_punch %}{% if punch %}{{ macros.lesson_label_widget(lesson=punch.video.lesson) }}{% else %}N/A{% endif %}{% endwith %}</td>
                    <td>{% with punch = user.last_y_gre_punch %}{% if punch %}{{ macros.lesson_label_widget(lesson=punch.video.lesson) }}{% else %}N/A{% endif %}{% endwith %}</td>
                    <td>{% with punch = user.latest_punch %}{% if punch %}{{ macros.video_label_widget(video=punch.video) }} ({{ punch.progress_percentage }}){% else %}N/A{% endif %}{% endwith %}</td>
                    <td>{% with device = user.last_login_device %}{% if device %}{% if device.room_id %}<div class="ui horizontal label">{{ device.room.name }}</div>{% endif %}<i class="{% if device.category == 'development' %}laptop code{% else %}{{ device.type.icon }}{% endif %} icon"></i>{{ device.alias }}{% else %}<i class="ban icon"></i>未授权设备{% endif %}{% endwith %}</td>
                    <td>{% with punch = user.latest_punch %}{% if punch %}{{ macros.from_now_widget(punch.timestamp) }}{% else %}N/A{% endif %}{% endwith %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="ui placeholder segment">
            <div class="ui icon header"><i class="user slash icon"></i>共 0 人</div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='assets/library/ui/tablesort.min.js') }}"></script>
<script type="text/javascript">
{{ macros.close_message_js_snippet() }}

$('.ui.sortable.table').tablesort();

function updateRenderTime(timestamp) {
    $('#rendered-at .detail').text(dayjs(timestamp).fromNow());
    if (dayjs().diff(renderedAt, 'seconds') < {{ config['VIDEO_ANALYTICS_STATUS_EXPIRATION'] }}) {
        $('#rendered-at').attr('class', 'ui green label');
    } else {
        $('#rendered-at').attr('class', 'ui red label');
    };
};
var renderedAt = "{{ config.RENDERED_AT().strftime(config.DATETIME_FORMAT_ISO) }}";
updateRenderTime(renderedAt);
setInterval(function () {
    updateRenderTime(renderedAt);
}, {{ config['STATUS_EXPIRATION_CHECK_INTERVAL'] }});
</script>
{% endblock %}