<div class="ui inverted borderless fixed menu">
    <div class="ui container">
        <div class="item">
            <div class="ui middle aligned image">
                <img class="logo-image" src="{{ url_for('static', filename='images/logo-white.svg') }}" alt="Logo">
            </div>
            <!-- <div class="logo-text">云英语 &middot; Y-VOD</div> -->
        </div>
        <div class="toc link header item" data-tooltip="菜单" data-position="bottom center" data-inverted=""><i class="sidebar icon"></i>云英语 &middot; Y-VOD</div>
    </div>
</div>