<div class="ui large inverted borderless fixed menu">
    <div class="ui container">
        <div class="toc link item"><i class="sidebar icon"></i>云英语 &middot; Y-VOD</div>
        <a class="header item" href="{{ url_for('main.home') }}">
            <div class="ui middle aligned image">
                <img class="logo-image" src="{{ url_for('static', filename='images/logo-white.svg') }}" alt="Logo">
            </div>
            <div class="logo-text">云英语 &middot; Y-VOD</div>
        </a>
        {% if current_user.is_authenticated %}<div class="right menu">
            <a class="icon item popup-item" href="{{ url_for('auth.logout') }}" data-tooltip="登出" data-position="bottom center" data-inverted=""><i class="door open icon"></i></a>
        </div>{% endif %}
    </div>
</div>