{% macro pagination_widget(pagination, endpoint, fragment='') -%}
<div class="ui mini secondary stackable menu">
    {% if pagination.has_prev %}<a class="item" href="{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}{{ fragment }}"><i class="fitted chevron left icon"></i></a>{% else %}<div class="disabled item"><i class="fitted chevron left icon"></i></div>{% endif %}
    {% for p in pagination.iter_pages(left_edge=2, left_current=2, right_current=3, right_edge=2) %}{% if p %}<a class="{% if p == pagination.page %}active {% endif %}item" href="{{ url_for(endpoint, page=p, **kwargs) }}{{ fragment }}">{{ p }}</a>{% else %}<div class="disabled item"><i class="fitted ellipsis horizontal icon"></i></div>{% endif %}{% endfor %}
    {% if pagination.has_next %}<a class="item" href="{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{{ fragment }}"><i class="fitted chevron right icon"></i></a>{% else %}<div class="disabled item"><i class="fitted chevron right icon"></i></div>{% endif %}
    {% if pagination.pages > 9 %}<div class="right menu">
        <div class="item">
            <form id="jump-to-page" action="{{ url_for(endpoint, **kwargs) }}" method="GET" class="ui form">
                <div class="ui mini transparent left icon input field">
                    <input id="page" name="page" type="text" placeholder="跳转至某页…">
                    <i class="arrow right icon"></i>
                </div>
            </form>
        </div>
    </div>{% endif %}
</div>
{%- endmacro %}


{% macro placeholder_widget() -%}
<div class="ui placeholder segment">
    <div class="ui icon header"><i class="ban icon"></i>无</div>
</div>
{%- endmacro %}


{% macro message_widget() -%}
{% with messages = get_flashed_messages(with_categories=true) %}{% for category, message in messages %}<div class="ui {% if category == 'message' %}info{% else %}{{ category }}{% endif %} message">
    <i class="close icon"></i>
    {% if category == 'message' %}<i class="info circle icon"></i>{% elif category == 'success' %}<i class="check circle icon"></i>{% elif category == 'warning' %}<i class="exclamation circle icon"></i>{% elif category == 'error' %}<i class="times circle icon"></i>{% else %}<i class="{{ category }} circle icon"></i>{% endif %}
    {{ message }}
</div>{% endfor %}{% endwith %}
{%- endmacro %}


{% macro close_message_js_snippet() -%}
$('.message .close').click(function () {
    $(this).closest('.message').transition('fade');
});
{%- endmacro %}


{% macro sticky_js_snippet() -%}
if ($(window).width() >= 768) {
    $('.ui.sticky').sticky({
        offset: 60
    });
};
{%- endmacro %}


{% macro user_widget(user, is_self=False, show_url=False) -%}
{% if is_self %}<i class="yellow star icon"></i>{% endif %}{% if show_url %}<a href="{{ user.url }}" target="_blank">{{ user.name }}</a>{% else %}{{ user.name }}{% endif %}
{%- endmacro %}


{% macro user_role_widget(user) -%}
{% if user.suspended %}<div class="ui horizontal label">挂起</div>{% endif %}{{ user.role.name }}
{%- endmacro %}


{% macro user_log_widget(log, is_self=False, show_role=False, show_category=False) -%}
{% if show_category %}<div class="ui grey horizontal label">{{ log.category }}</div>{% endif %}{% if show_role %}<div class="ui horizontal label">{{ log.user.role.name }}</div>{% endif %}{% if is_self %}我{% else %}{{ user_widget(log.user, show_url=True) }}{% endif %} {{ log.event }}
{%- endmacro %}


{% macro from_now_widget(timestamp) -%}
{% if timestamp %}<span class="popup-timestamp" data-timestamp="{{ timestamp.strftime(config.DATETIME_FORMAT_ISO) }}"></span>{% else %}N/A{% endif %}
{%- endmacro %}


{% macro lesson_label_widget(lesson) -%}
<div class="ui {{ lesson.type.color }} horizontal label">{{ lesson.type.name }}<div class="detail">{{ lesson.abbr }}</div></div>
{%- endmacro %}


{% macro video_label_widget(video) -%}
{{ lesson_label_widget(video.lesson) }}{{ video.abbr }}{% if video.description %} <span class="text-grey">{{ video.description }}</span>{% endif %}
{%- endmacro %}