<div class="ui inverted sidebar vertical menu">
    <div class="header item"">
        <div class="ui middle aligned image">
            <img class="logo-image" src="{{ url_for('static', filename='images/logo-white.svg') }}" alt="Logo">
        </div>
        <div class="logo-text">云英语 &middot; Y-VOD</div>
    </div>
    {% if current_user.is_authenticated %}
    {% if current_user.is_staff %}<a class="item" href="{{ url_for('status.home') }}" ><i class="tachometer alternate icon"></i>系统实况</a>{% endif %}
    <a class="item" href="{{ current_user.url }}"><i class="id card icon"></i>个人档案</a>
    {% if current_user.can('研修') %}<div class="item">
        <div class="header">研修</div>
        <div class="menu">
            {% if current_user.can('研修VB') %}<a class="item"  href="{{ url_for('study.vb') }}"><i class="chalkboard teacher icon"></i>VB研修</a>{% endif %}
            {% if current_user.can('研修Y-GRE') %}<a class="item"  href="{{ url_for('study.y_gre') }}"><i class="chalkboard teacher icon"></i>Y-GRE研修</a>{% endif %}
        </div>
    </div>{% endif %}
    {% if current_user.is_staff %}<div class="item">
        <div class="header">管理</div>
        <div class="menu">
            {% if current_user.can('管理学生') %}<a class="item" href="{{ url_for('manage.student') }}"><i class="user graduate icon"></i>学生管理</a>{% endif %}
            {% if current_user.can('管理员工') %}<a class="item" href="{{ url_for('manage.staff') }}"><i class="user tie icon"></i>员工管理</a>{% endif %}
            {% if current_user.can('管理设备') %}<a class="item" href="{{ url_for('manage.device') }}"><i class="server icon"></i>设备管理</a>{% endif %}
            <a class="item" href="{{ url_for('manage.lesson') }}"><i class="book icon"></i>研修课程</a>
        </div>
    </div>{% endif %}
    {% if current_user.is_developer %}<div class="item">
        <div class="header">开发</div>
        <div class="menu">
            <a class="item" href="{{ url_for('develop.role') }}"><i class="users cog icon"></i>用户角色</a>
            <a class="item" href="{{ url_for('develop.permission') }}"><i class="user shield icon"></i>用户权限</a>
            <a class="item" href="{{ url_for('develop.log') }}"><i class="history icon"></i>用户日志</a>
            <a class="item" href="{{ url_for('develop.configuration') }}"><i class="cog icon"></i>系统配置</a>
        </div>
    </div>
    <div class="item">
        <div class="header">关于</div>
        <div class="menu">
            <div class="item"><i class="tag icon"></i>v{{ config.VERSION }}</div>
            <div class="item"><i class="python icon"></i>Python {{ config.PYTHON_VERSION }}</div>
            <div class="item">{% with device = current_user.last_login_device %}<i class="{% if device.category == 'development' %}laptop code{% elif device.type.name == 'Tablet' %}tablet alternate{% elif device.type.name == 'Desktop' %}desktop{% elif device.type.name == 'Mobile' %}mobile alternate{% endif %} icon"></i>{{ device.alias }}{% endwith %}</div>
            <div class="item"><i class="globe icon"></i>{{ current_user.last_seen_ip }}</div>
        </div>
    </div>{% endif %}
    <a class="item" href="{{ url_for('auth.logout') }}" ><i class="door open icon"></i>登出</a>
    {% else %}
    <a class="item" href="{{ url_for('auth.login') }}"><i class="user circle icon"></i>登录</a>
    {% endif %}
</div>