{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}{{ video.abbr }} &middot; {{ video.lesson.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/library/player/player.min.css') }}">
{% endblock %}

{% block content %}
<div class="ui masthead vertical segment">
    <div class="ui container">
        {{ macros.message_widget() }}
        <h1 class="ui center aligned header"><i class="chalkboard teacher icon"></i>{{ video.lesson.type.name }}：{{ video.lesson.abbr }}</h1>
    </div>
</div>
<div id="main" class="ui main vertical segment">
    <div class="ui internally celled stackable grid container">
        <div class="row">
            <div class="four wide column">
                <div class="ui vertical segment">
                    <div class="ui header">视频列表</div>
                    <div class="ui small secondary fluid vertical menu">
                        {% for item in video.lesson.videos %}<a class="{% if item.id == video.id %}active {% endif %}item" href="{{ url_for('study.video', id=item.id) }}#main"><i class="file video icon"></i>{{ item.abbr }}<div {% if item.id == video.id %}id="video-progress-side" {% endif %}class="ui {% if current_user.complete_video(video=item) %}green {% elif item.id == video.id %}orange {% endif %}label">{{ current_user.video_progress_percentage(video=item) }}</div></a>{% endfor %}
                        <a class="item" href="{{ url_for('study.{}'.format(video.lesson.type.view_point)) }}"><i class="arrow left icon"></i>返回课程列表</a>
                    </div>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui sticky">
                    <div class="ui vertical segment">
                        <div class="ui header">{{ video.name }}{% if video.description %}<div class="ui {{ video.lesson.type.color }} horizontal label">{{ video.description }}</div>{% endif %}<div id="video-progress" class="ui orange horizontal label">0</div></div>
                        <div id="player-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='assets/library/count/countUp.min.js') }}"></script>
{% if config.HLS_ENABLE %}<script type="text/javascript" src="{{ url_for('static', filename='assets/library/hls/hls.min.js') }}"></script>{% endif %}
<script type="text/javascript" src="{{ url_for('static', filename='assets/library/player/player.min.js') }}"></script>
<script type="text/javascript">
{{ macros.close_message_js_snippet() }}

{{ macros.sticky_js_snippet() }}

var countUpOptions = {
    useEasing: true,
    useGrouping: true,
    separator: ',',
    decimal: '.',
    prefix: '',
    suffix: '%'
};
var videoProgressCountUp = new CountUp('video-progress', 0, 0, 0, 2.5, countUpOptions);
var videoProgressSideCountUp = new CountUp('video-progress-side', 0, 0, 0, 2.5, countUpOptions);
function updateVideoProgress(progress) {
    videoProgressCountUp.update((progress * 100).toFixed(0));
    videoProgressSideCountUp.update((progress * 100).toFixed(0));
    if (progress >= 1) {
        $('#video-progress').attr('class', 'ui green horizontal label');
        $('#video-progress-side').attr('class', 'ui green label');
    };
};
updateVideoProgress({{ current_user.video_progress(video=video) }});
const videoPlayer = new Player({
    container: document.getElementById('player-container'),
    volume: 1.0,
    video: {
        url: {% if not config.HLS_ENABLE -%}"{{ url_for('resource.video', id=video.id) }}"{% else %}"{{ video.hls_url }}",
        type: 'hls'{%- endif %}
    }
});
const acceleratingFactor = {{ config.VIDEO_ANALYTICS_ACCELERATING_FACTOR }};
const granularity = {{ config.VIDEO_ANALYTICS_GRANULARITY }};
const updateInterval = {{ config.VIDEO_ANALYTICS_UPDATE_PUNCH_INTERVAL }};
const playTimeGranularity = granularity / 1000 * videoPlayer.video.playbackRate * acceleratingFactor;
var elapsedTime = 0;
var playTime = {{ current_user.video_play_time(video=video).total_seconds() }};
var lastVideoCurrentTime = null;
function updatePunch() {
    if (!document.hidden) {
        $.ajax({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token() }}');
                };
            },
            url: "{{ url_for('study.punch', id=video.id) }}",
            method: 'POST',
            data: JSON.stringify({
                'play_time': playTime
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                playTime = data.play_time.seconds;
                updateVideoProgress(data.progress);
            }
        });
    };
};
videoPlayer.on('pause', function () {
    updatePunch();
});
videoPlayer.on('ended', function () {
    updatePunch();
});
videoPlayer.on('waiting', function () {
    updatePunch();
});
videoPlayer.on('error', function () {
    updatePunch();
});
setInterval(function () {
    if (!videoPlayer.video.paused && videoPlayer.video.currentTime !== lastVideoCurrentTime) {
        playTime += playTimeGranularity;
        lastVideoCurrentTime = videoPlayer.video.currentTime;
    };
    elapsedTime += granularity;
    if (elapsedTime % updateInterval === 0) {
        updatePunch();
    };
}, granularity);
</script>
{% endblock %}