{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}{{ video.abbr }} &middot; {{ video.lesson.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/library/player/player.min.css') }}">
{% endblock %}

{% block content %}
<div class="ui masthead vertical segment">
    <div class="ui container">
        {{ macros.message_widget() }}
        <h1 class="ui center aligned header"><i class="chalkboard teacher icon"></i>{{ video.lesson.name }}</h1>
    </div>
</div>
<div id="main" class="ui main vertical segment">
    <div class="ui internally celled stackable grid container">
        <div class="row">
            <div class="four wide column">
                <div class="ui vertical segment">
                    <div class="ui header">研修视频列表</div>
                    <div class="ui bulleted selection link list">
                        {% for item in video.lesson.videos %}<a class="{% if item.id == video.id %}active {% endif %}item" href="{{ url_for('study.video', id=item.id) }}#main"><i class="{% if current_user.complete_video(video=item) %}green check{% else %}{% if item.id == video.id %}{{ item.lesson.type.color }} play{% else %}file video{% endif %}{% endif %} icon"></i>{{ item.abbr }} ({{ current_user.video_progress_percentage(video=item) }})</a>{% endfor %}
                        <a class="item" href="{{ url_for('study.{}'.format(video.lesson.type.snake_case)) }}"><i class="arrow left icon"></i>返回{{ video.lesson.type.name }}研修课程列表</a>
                    </div>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui sticky">
                    <div class="ui vertical segment">
                        <div class="ui header">{{ video.name }}{% if video.description %}<div class="ui {{ video.lesson.type.color }} horizontal label">{{ video.description }}</div>{% endif %}<div id="video-progress" class="ui orange horizontal label">0</div></div>
                        <div id="player"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='assets/library/count/countUp.min.js') }}"></script>
{% if config.HLS_ENABLE %}<script type="text/javascript" src="{{ url_for('static', filename='assets/library/hls/hls.min.js') }}"></script>{% endif %}
<script type="text/javascript" src="{{ url_for('static', filename='assets/library/player/player.min.js') }}"></script>
<script type="text/javascript">
{{ macros.close_message_js_snippet() }}

{{ macros.sticky_js_snippet() }}

var countUpOptions = {
    useEasing: true,
    useGrouping: true,
    separator: ',',
    decimal: '.',
    prefix: '',
    suffix: '%'
};
var videoProgressCountUp = new CountUp('video-progress', 0, 0, 0, 2.5, countUpOptions);
function updateVideoProgress(progress) {
    videoProgressCountUp.update((progress * 100).toFixed(0));
    if (progress >= 1) {
        $('#video-progress').attr('class', 'ui green horizontal label');
    };
};
updateVideoProgress({{ current_user.video_progress(video=video) }});
const player = new Player({
    container: document.getElementById('player'),
    video: {
        url: "{{ url_for('resource.video', id=video.id) }}"{% if config.HLS_ENABLE -%},
        type: 'hls'{%- endif %}
    }
});
var granularity = {{ config.VIDEO_ANALYTICS_GRANULARITY }};
var updateInterval = {{ config.VIDEO_ANALYTICS_UPDATE_PUNCH_INTERVAL }};
var elapsedTime = 0;
var playTimeGranularity = granularity / 1000 * player.video.playbackRate;
var playTime = {{ current_user.video_play_time(video=video).total_seconds() }};
var lastVideoCurrentTime = null;
function updatePunch() {
    $.ajax({
        url: "{{ url_for('study.punch', id=video.id) }}",
        method: 'POST',
        data: JSON.stringify({
            'play_time': playTime
        }),
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        success: function (data) {
            playTime = data.play_time.seconds;
            updateVideoProgress(data.progress);
        }
    });
};
player.on('pause', function () {
    updatePunch();
});
player.on('ended', function () {
    updatePunch();
});
player.on('waiting', function () {
    updatePunch();
});
player.on('error', function () {
    updatePunch();
});
setInterval(function () {
    if (!player.video.paused && player.video.currentTime !== lastVideoCurrentTime) {
        playTime += playTimeGranularity;
        lastVideoCurrentTime = player.video.currentTime;
    };
    elapsedTime += granularity;
    if (elapsedTime % updateInterval === 0) {
        updatePunch();
    };
}, granularity);
</script>
{% endblock %}