{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}{{ video.abbr }} &middot; {{ video.lesson.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/library/player/player.min.css') }}">
{% endblock %}

{% block content %}
<div class="ui masthead vertical segment">
    <div class="ui container">
        {{ macros.message_widget() }}
        <h1 class="ui center aligned header"><i class="chalkboard teacher icon"></i>{{ video.lesson.name }}</h1>
    </div>
</div>
<div id="main" class="ui main vertical segment">
    <div class="ui internally celled stackable grid container">
        <div class="row">
            <div class="four wide column">
                <div class="ui vertical segment">
                    <div class="ui header">研修视频列表</div>
                    <div class="ui bulleted selection link list">
                        {% for item in video.lesson.videos %}<a class="{% if item.id == video.id %}active {% endif %}item" href="{{ url_for('study.video', id=item.id) }}#main"><i class="{% if current_user.complete_video(video=item) %}green check{% else %}{% if item.id == video.id %}{{ item.lesson.type.color }} play{% else %}file video{% endif %}{% endif %} icon"></i>{{ item.abbr }}</a>{% endfor %}
                        <a class="item" href="{{ url_for('study.{}'.format(video.lesson.type.snake_case)) }}"><i class="arrow left icon"></i>返回{{ video.lesson.type.name }}研修课程列表</a>
                    </div>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui sticky">
                    <div class="ui vertical segment">
                        <div class="ui header">{{ video.name }}{% if video.description %}<div class="ui {{ video.lesson.type.color }} horizontal label">{{ video.description }}</div>{% endif %}<div id="video-progress" class="ui {% if current_user.complete_video(video=video) %}green{% else %}orange{% endif %} horizontal label">{{ current_user.video_progress_percentage(video=video) }}</div></div>
                        <div id="player"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='assets/library/player/player.min.js') }}"></script>
<script type="text/javascript">
{{ macros.close_message_js_snippet() }}

{{ macros.sticky_js_snippet() }}

{{ macros.player_js_snippet(player_id='player', video_url=url_for('resource.video', id=video.id)) }}

var granularity = {{ config.VIDEO_ANALYTICS_GRANULARITY }};
var updateInterval = {{ config.VIDEO_ANALYTICS_UPDATE_INTERVAL }};
var elapsedTime = 0;
var playTimeGranularity = granularity / 1000 * player.video.playbackRate;
var playTime = {{ current_user.video_play_time(video=video).total_seconds() }};

function tick() {
    elapsedTime += granularity;
};

function updatePlayTime() {
    $.ajax({
        method: 'POST',
        url: "{{ url_for('study.punch', id=video.id) }}",
        data: JSON.stringify({
            'play_time': playTime
        }),
        dataType: 'json',
        contentType: 'application/json',
        success: function (data) {
            playTime = data.play_time.seconds;
            $('#video-progress').text(`${(data.progress * 100).toFixed(0)}%`);
            if (data.progress >= 1) {
                $('#video-progress').addClass('green').removeClass('orange');
            };
        }
    });
};

setInterval(function () {
    tick();
    if (!player.video.paused) {
        playTime += playTimeGranularity;
    };
    if (elapsedTime % updateInterval === 0) {
        updatePlayTime();
    };
}, granularity);
</script>
{% endblock %}